html{
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(49, 49, 49);
    height: 100%;
    vertical-align: middle;
}

label{
    display: block;
    font-weight: bolder;
    margin-bottom: 1.2vh;
}

input{
    border: none;
    background-color: rgba(125, 125, 125, 0.5);
    border-radius: 0.8vh;
    margin-left: 1.6vh;
}

.textLine{
    width: 100%;
    background-color: black;
    height: 0.4vh;
}

.loginContainer{
    align-items: center;
    justify-content: center;
    margin: 2vh 2vh 2vh 2vh;
    border: solid;
    display: inline-block;
    border-color: grey;
    color: black;
    padding: 3vh 3vh 3vh 3vh;
    background-color: white;
    border-radius: 1.5vh;
}

.loginContainer .inputContainer{
    display: block;
}

.inputContainer {
    margin-bottom: 2.8vh;
}

#loginButton {
    cursor: pointer;
    padding: 2vh 4vh 2vh 4vh;
    display: block;
    font-weight: bold;
    width: 100%;
}

#registerLink{
    font-size: smaller;
}

